{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Добро пожаловать на главную страницу, {{ user.username }}!</h1>
    {% endif %}

  {% url 'books_by_category' 'recommended' as recommended_url %}
{% include 'sample/book_list.html' with books=recommended_books section_title="Персональные рекомендации" section_url=recommended_url %}
 
  {% url 'books_by_category' 'popular' as popular_url %}
{% include 'sample/book_list.html' with books=popular_books section_title="Популярные книги" section_url=popular_url %}
 
  {% url 'books_by_category' 'new' as new_url %}
{% include 'sample/book_list.html' with books=new_books section_title="Новинки" section_url=new_url %}
 
  {% url 'books_by_category' 'soon' as soon_url %}
{% include 'sample/book_list.html' with books=soon_books section_title="Скоро" section_url=soon_url %}

    {% if last_books %}
  {% include 'sample/book_list.html' with books=last_books section_title="Последние просмотренные книги"  %}     
    {% endif %}
 
{% endblock %}
